<ion-card>
  <img [src]="bgImage" />
  <ion-card-content>
    <h1>{{ question.consultant }}</h1>

    <ion-grid>
      <ion-row
        *ngFor="let p of possibilities; let idx = index"
        (click)="answerQuestion(p)"
      >
        <ion-col size="2">
          <img src="assets/img/question-logos/q-{{ idx }}.png" />
        </ion-col>
        <ion-col size="10">
          <ion-button clear size="small" fill="clear" class="q-btn">
            <!-- <ion-icon name="text"></ion-icon> -->
            {{ p.human }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
