.content{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
    background-image: url('../../assets/img/excel-cells.png');
    background-repeat: no-repeat;
    background-position: fixed;
    // background-color: green;
    background-size: cover;
}
